apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: resources-creator
rules:
- apiGroups: ["apps"] # "" indicates the core API group
  resources: ["deployments"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
